# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

# ignore all class files
*.class

# ignore all package files 
*.jar
*.war
*.ear
